.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  right: 28px;
  top: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 20px;
}

.modal__content {
  max-width: 424px;
  width: 100%;
  max-height: 380px;
  border-radius: 20px;
  border: 1px;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 440px;
}

.modal__label_type_radio {
  flex-direction: row;
}

.modal__input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__input_type_radio {
  width: auto;
}

.modal__radio-buttons {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-top: 32px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: black;
  color: white;
  border: none;
}
.modal__submit:hover {
  background-color: #00000099;
}
.modal__submit:disabled {
  background-color: #0000004d;
}
