.modal__caption {
  font-size: 20px;
  line-height: 24px;
}
.modal__caption_weather {
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0 32px 32px;
  font-style: bold;
}
.modal__content_type_card {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
}
.modal__image {
  border-radius: 16px;
}
.modal__row {
  display: flex;
  justify-content: space-between;
  margin: 20px 32px 0 32px;
}
.modal__delete-item-btn {
  border: none;
  color: #ff4d00;
  background-color: transparent;
  padding: 0;
}
@media screen and (max-width: 627px) {
  .modal__image {
    max-width: 343px;
    max-height: 343px;
  }
}
