.sidebar__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sidebar__username {
  margin: 0;
  font-size: 20px;
}
.sidebar__avatar {
  height: 56px;
  width: 56px;
}
